In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Guerrero Negro,MX,2021-04-20 17:13:09,27.9769,-114.0611,70.21,51,10,6.46
1,1,Awjilah,LY,2021-04-20 17:13:10,29.1081,21.2869,73.26,17,7,11.21
2,2,Mataura,NZ,2021-04-20 17:13:10,-46.1927,168.8643,52.00,81,33,7.00
3,3,Kandrian,PG,2021-04-20 17:13:11,-6.2167,149.5500,77.20,90,68,6.06
4,4,Sydney,AU,2021-04-20 17:12:59,-33.8679,151.2073,60.01,58,3,10.36

In [3]:
# Check datatypes of the city data df
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))

In [8]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]

# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [11]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [12]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kandrian,PG,2021-04-20 17:13:11,-6.2167,149.5500,77.20,90,68,6.06
5,5,Mar Del Plata,AR,2021-04-20 17:08:23,-38.0023,-57.5575,77.00,78,75,16.11
11,11,Atuona,PF,2021-04-20 17:13:13,-9.8000,-139.0333,80.60,71,24,18.54
15,15,Rikitea,PF,2021-04-20 17:13:15,-23.1203,-134.9692,77.43,71,79,6.67
17,17,Niquero,CU,2021-04-20 17:13:15,20.0431,-77.5828,87.08,51,0,8.10
23,23,Luwuk,ID,2021-04-20 17:13:18,-0.9516,122.7875,77.32,88,99,2.21
25,25,Bandarbeyla,SO,2021-04-20 17:13:18,9.4942,50.8122,82.58,77,91,11.41
30,30,Macau,MO,2021-04-20 17:09:09,22.2006,113.5461,75.20,88,40,8.05
32,32,Cockburn Town,TC,2021-04-20 17:13:22,21.4612,-71.1419,78.89,81,4,16.51
43,43,Salalah,OM,2021-04-20 17:13:27,17.0151,54.0924,84.20,70,0,3.44

In [13]:
# Check for null values
preferred_cities_df.count()

City_ID       176
City          176
Country       174
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [14]:
# Drop Null values
preferred_cities_df.dropna()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Kandrian,PG,2021-04-20 17:13:11,-6.2167,149.5500,77.20,90,68,6.06
5,5,Mar Del Plata,AR,2021-04-20 17:08:23,-38.0023,-57.5575,77.00,78,75,16.11
11,11,Atuona,PF,2021-04-20 17:13:13,-9.8000,-139.0333,80.60,71,24,18.54
15,15,Rikitea,PF,2021-04-20 17:13:15,-23.1203,-134.9692,77.43,71,79,6.67
17,17,Niquero,CU,2021-04-20 17:13:15,20.0431,-77.5828,87.08,51,0,8.10
...,...,...,...,...,...,...,...,...,...,...
552,552,El Cope,PA,2021-04-20 17:17:00,8.6167,-80.6000,87.80,70,40,10.36
557,557,Asosa,ET,2021-04-20 17:17:01,10.0667,34.5333,78.49,21,87,2.08
563,563,Balabac,PH,2021-04-20 17:17:04,7.9868,117.0645,81.27,79,97,12.82
564,564,Mirabad,AF,2021-04-20 17:17:04,30.4362,61.8383,81.39,16,0,21.99
566,566,Lazaro Cardenas,MX,2021-04-20 17:17:05,17.9583,-102.2000,83.52,33,98,6.06

In [15]:
#Check for null values
preferred_cities_df.count()

City_ID       176
City          176
Country       174
Date          176
Lat           176
Lng           176
Max Temp      176
Humidity      176
Cloudiness    176
Wind Speed    176
dtype: int64

In [16]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

             City Country  Max Temp      Lat       Lng Hotel Name
3        Kandrian      PG     77.20  -6.2167  149.5500
5   Mar Del Plata      AR     77.00 -38.0023  -57.5575
11         Atuona      PF     80.60  -9.8000 -139.0333
15        Rikitea      PF     77.43 -23.1203 -134.9692
17        Niquero      CU     87.08  20.0431  -77.5828
23          Luwuk      ID     77.32  -0.9516  122.7875
25    Bandarbeyla      SO     82.58   9.4942   50.8122
30          Macau      MO     75.20  22.2006  113.5461
32  Cockburn Town      TC     78.89  21.4612  -71.1419
43        Salalah      OM     84.20  17.0151   54.0924

In [18]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [20]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [21]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Kandrian,PG,77.20,-6.2167,149.5500,Kandrian Station
5,Mar Del Plata,AR,77.00,-38.0023,-57.5575,Gran Hotel Mar del Plata
11,Atuona,PF,80.60,-9.8000,-139.0333,Villa Enata
15,Rikitea,PF,77.43,-23.1203,-134.9692,Pension Maro'i
17,Niquero,CU,87.08,20.0431,-77.5828,Islazul Niquero
23,Luwuk,ID,77.32,-0.9516,122.7875,Hotel Santika Luwuk
25,Bandarbeyla,SO,82.58,9.4942,50.8122,JABIR HOTEL
30,Macau,MO,75.20,22.2006,113.5461,Grand Emperor Hotel
32,Cockburn Town,TC,78.89,21.4612,-71.1419,Osprey Beach Hotel
43,Salalah,OM,84.20,17.0151,54.0924,HAMDAN PLAZA HOTEL SALALAH

In [22]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [26]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [27]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [28]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))